h1, p {
    font-family: 'Rock Salt', cursive;
    position: relative;
} 

.mapframe {
    height: 400px;
    width: 100%;
    background-color: grey;
    color: black;
}

.mapframe a {
    color:blue;
}